@{
    ViewBag.Title = "About our Coffee";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    <style>
        body {
            background-image: url(https://negativespace.co/wp-content/uploads/2017/04/negative-space-coffee-beans-Custom-1-768x512.jpg);
        }
    </style>
</p>
<p>Local Beans from our local circus, grounded by natural elephant weight and sifted through an acrobatic trampoline  as a filter.</p>
<p>Grand Coffee is from the Circus</p>
