



<div class="text">

    <p>Welcome @Session["Name"]</p>
    <h2>@ViewBag.Message</h2>

    <h10>

        Grand Circus Coffee takes beans from the local circus and grounds them using the natural weight of an elephant's foot. Fresh, Local, Delicious.
        for more information, @Html.ActionLink("Contact us Here.", "Contact", "Home")
    </h10>


</div>
<ul>
    
    <li>@Html.ActionLink("Register for Coffee", "Register", "Home")</li>
</ul>